@model ProjectManagement.Models.AboutModel
<style>
     th, td {
    border: 1px solid black;
    width: 15px;
    height: 15px;
    }
 </style>

<h3>@Model.Message</h3>
<h3 style="color:orange">@Model.Author</h3>

<p>Use this area to provide additional information.</p>
<body>
    <table>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <div style="text-align:justify">Do greatest at in learning steepest. Breakfast extremity suffering one who all otherwise suspected. He at no nothing forbade up moments. Wholly uneasy at missed be of pretty whence. John way sir high than law who week. Surrounded prosperous introduced it if is up dispatched. Improved so strictly produced answered elegance is</div>
</body>
